{% form_theme form 'tailwind_2_layout.html.twig' %}

{% extends "base.html.twig" %}

{% block body %}
    <h1 class="text-center text-3xl">Creer votre événement</h1>
    <div class="w-1/2 mx-auto">
    {{form_start(form)}}
        {{form_row(form.name)}}
        {{form_row(form.price)}}
        <div class= "flex space-x-5">
            {{form_row(form.createdAt)}}
            {{form_row(form.startEvent)}}
            {{form_row(form.endEvent)}}
        </div>
        {{form_row(form.cover)}}
        {{form_row(form.description)}}
        <button id="btn" class=" w-1/3 text-2xl mb-[100px] bg-gray-600 text-white p-4 rounded" formnovalidate>Ajouter</button>
    {{form_end(form)}}
    </div>
{% endblock %}