{% extends "base.html.twig" %}

{% block body %}
<div class="w-1/2 mx-auto space-y-4 p-4 border-4 shadow-xl">
    <div>
        <h1 class="text-3xl">{{event.name}}</h1>
        <p>{{event.description}}</p>
    </div>
    <div>
        <p>Cet événenemt débute le {{event.startEvent | date('d-m-Y')}} à {{event.startEvent | date('H:i')}}</p>
    </div>
    <div class="flex items-center space-x-4">
        <p>Alors si t'es motivé, clique!</p>
        {% if lock > date('now') %}
            <a class="bg-gray-600 rounded p-3 text-white hover:bg-gray-700" href="{{path('app_go_event')}}">Rejoindre l'évenement</a>
        {% endif %}
        {% if lock < date('now') %}
            <span>Désolé, cet événement est fini</span>
        {% endif %}
        
        
        
    </div>
</div>
    
    
{% endblock %}