<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <script src="https://cdn.tailwindcss.com/?plugins=forms"></script>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{asset('build/app.js')}}" defer></script>
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="bg-gray-200 py-4">
                <div class="w-4/5 mx-auto flex justify-between items-center">
                    <div>
                        <h1 class="font-bold text-2xl">Event Time</h1>
                    </div>
                    <div>
                        <nav>
                            <ul class="space-x-4 text-lg">
                                <a href="{{path('app_home')}}">Accueil</a>
                                <a href="{{path('app_event')}}">Evénements</a>
                                <a href="{{path('app_event_create')}}">Créer un événement</a>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <form action="" method="post" class="my-[100px]">
            <label for="search"></label>
            <div class="flex items-center justify-center">
                <input type="search" name="search" id="search" placeholder="Recherche.." class="block w-1/2 p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-l bg-gray-50 focus:border-gray-600 focus:ring-gray-600">
                <button type="submit" class="text-white bg-gray-600 rounded-r p-4 hover:bg-gray-700">Rechercher</button>
            </div>
        </form>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div id="flash-messages" class="bg-slate-200 rounded w-1/4 mx-auto text-center p-6 mb-[100px]">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="w-4/5 mx-auto">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
