<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <script src="https://cdn.tailwindcss.com/?plugins=forms"></script>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('app.js') }}" defer></script>
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="bg-gray-200 py-4">
                <div class="w-4/5 mx-auto flex justify-between items-center">
                    <div>
                        <h1 class="font-bold text-2xl">Event Time</h1>
                    </div>
                    <div>
                        <nav>
                            <ul class="space-x-4 text-lg">
                                <a href="{{path('app_home')}}">Accueil</a>
                                <a href="{{path('app_event')}}">Evénements</a>
                                <a href="{{path('app_event_create')}}">Créer un événement</a>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div id="flash-messages" class="flash-messages bg-slate-200 rounded w-1/4 mx-auto text-center p-6 mb-[100px]">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="w-4/5 mx-auto my-8">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
